p {
    height: 100px;
    width: 100px;
    background-color: red;
}

p:nth-of-type(1) {
    background-color: blue;
}

p:nth-of-type(2) {
    background-color: blue;
}

p:nth-of-type(3) {
    background-color: blue;
}

p:nth-of-type(6) {
    opacity: 0.1;
  }

  p:nth-of-type(7) {
    opacity: 0.1;
  }